<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Отбор астронавтов на Марс</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-light d-flex justify-content-center align-items-center"
    style="min-height: 100vh"
  >
    <div
      class="card p-4 shadow"
      style="max-width: 500px; width: 100%; background-color: #ffe5b4"
    >
      <h2 class="text-center mb-3">Анкета претендента</h2>
      <p class="text-center mb-4">на участие в миссии</p>

      <form method="post" enctype="multipart/form-data">
        <input
          type="text"
          name="lastname"
          class="form-control mb-2"
          placeholder="Введите фамилию"
          required
        />
        <input
          type="text"
          name="firstname"
          class="form-control mb-2"
          placeholder="Введите имя"
          required
        />

        <input
          type="email"
          name="email"
          class="form-control mb-2"
          placeholder="Введите адрес почты"
          required
        />

        <label>Какое у Вас образование?</label>
        <select name="education" class="form-select mb-2" required>
          <option>Начальное</option>
          <option>Среднее</option>
          <option>Высшее</option>
          <option>Специализированное</option>
        </select>

        <label>Выберите основную профессию</label>
        <div class="mb-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="profession"
              value="Инженер-исследователь"
              id="prof1"
            />
            <label class="form-check-label" for="prof1"
              >Инженер-исследователь</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="profession"
              value="Пилот"
              id="prof2"
            />
            <label class="form-check-label" for="prof2">Пилот</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="profession"
              value="Строитель"
              id="prof3"
            />
            <label class="form-check-label" for="prof3">Строитель</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="profession"
              value="Экзобиолог"
              id="prof4"
            />
            <label class="form-check-label" for="prof4">Экзобиолог</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="profession"
              value="Врач"
              id="prof5"
            />
            <label class="form-check-label" for="prof5">Врач</label>
          </div>
        </div>

        <label>Укажите пол</label>
        <div class="mb-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="Мужской"
              id="male"
              checked
            />
            <label class="form-check-label" for="male">Мужской</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="Женский"
              id="female"
            />
            <label class="form-check-label" for="female">Женский</label>
          </div>
        </div>

        <label>Почему Вы хотите принять участие в миссии?</label>
        <textarea
          class="form-control mb-2"
          name="motivation"
          rows="3"
        ></textarea>

        <label>Приложите фотографию</label>
        <input type="file" class="form-control mb-2" name="photo" />

        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            name="stay_mars"
            id="stay"
          />
          <label class="form-check-label" for="stay"
            >Готовы остаться на Марсе?</label
          >
        </div>

        <button type="submit" class="btn btn-primary w-100">Отправить</button>
      </form>
    </div>
  </body>
</html>
